
.wrapper{
    width: 1170 px;
    margin: auto;
}
header{
    background: url(C:\Users\sokol\Desktop\Joni\inxh.web\Get-Healthy\gethealthy/Background.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover ;
    background-position: center center;
    position: relative;
}