body{
   
    background-image: url(../images/aloe.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1100px;
    margin: 0 auto;
}
#header{
    background-color:mintcream;
    height: 120px;

}
.logo{
    float: left;
    margin:0;
    padding:0;
}

.menu{
    float: right;
    padding-top: 90px;
    

}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}
#content{
   
    height: 840px;
    /*opacity: 0.7;*/
    }
.pershkrimi{

    /*background-color:mintcream;*/
    width:100%;
    height:250px;
    margin-top: 20px;
    border: 1px solid black;
    float:left;
    

}
.pershkrimi h1,h2,h3{
    padding-top: 15px;
    padding-bottom: 15px;
  
    font-size: 30px;
    text-align: center;
    font: 400 50px/0.8 'Cookie', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    
}



.pershkrimi p{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 22px;
    font: 400 35px/0.8 'Cookie', Helvetica, sans-serif;
  
   
}
#contentcnt{
    height: 700px;
}
.contact-box{
    width: 700px;
	background-color: #fff;
    box-shadow: 0 0 40px 0 #999;
	top: 35%;
    left: 24%;
    transform: translate(-50%,-50%,);
	position: absolute;
    
}

form{
   
    margin: 35px;
    
}

.input-filed{
	width: 600px;
	height: 45px;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;

}

.textarea-field{
	height: 150px;
	padding-top: 10px;
}



.btn{
	border-radius: 20px;
	color: #fff;
	margin-top: 18px;
	padding: 10px;
	background-color: #334BFF;
	font-size: 12px;
	border: none;
	cursor: pointer;

}
#footer{
    background-color:mintcream;
    height:200px;
    
    

}
#footer .box{
    width: 33%;
    height: 170px ;
    float:left;
    
}
.box h1{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .box ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    font-size: 20px;
    padding: 30x;
    margin: 30px;
    padding-bottom: 0;
    margin-bottom: 0;

 }
 .box ul li{
     padding: 10px;
    
     
 }



